In [1]:
import pandas as pd
import math
import requests
from bs4 import BeautifulSoup
import json
import numpy as np
from selenium import webdriver
from selenium.webdriver.common.by import By

In [2]:
df = pd.read_csv('Data/Real_Estate_TLV_YAD2.csv',index_col=0)


df.dropna(subset=['lat', 'long'] ,inplace=True)
df.reset_index(drop=True,inplace =True)
df.dropna(subset=['home_number'] ,inplace=True)
df.reset_index(drop=True,inplace =True)

In [3]:
url = 'https://gw.yad2.co.il/latest-deals/completed?area=1&city=5000&limit=10000'
data = requests.get(url).json()
df3 = pd.DataFrame(data["data"])

In [13]:
def split_address_column_2(df, col_name):
    df.rename(columns = {'buildYear':'BUILDINGYEAR'}, inplace = True)
    # split the column into street and home_number columns
    df[['streetANDhomenumber', 'neighborhood ']] = df[col_name].str.split(',', 1, expand=True)
    df[['street', 'home_number']] = df['streetANDhomenumber'].str.rsplit(' ', 1, expand=True)
    # drop rows where home_number is missing
    df.dropna(subset=['home_number'], inplace=True)
    # reset index and cast home_number to int
    df.reset_index(drop=True, inplace=True)
    df['home_number'] = df['home_number'].astype(int)
    
    return df 

df3 = split_address_column_2(df3,'address')

In [14]:
df2 = pd.read_csv('Real_Estate_TLV_NADLAN.csv',index_col=0)


def split_address_column(df, col_name):
    # split the column into street and home_number columns
    df[['street', 'home_number']] = df[col_name].str.rsplit(' ', 1, expand=True)

    # drop rows where home_number is missing
    df.dropna(subset=['home_number'], inplace=True)
    
    # drop rows where street is empty or None
    df = df[(df['street'] != '')]
    # reset index and cast home_number to int
    df.reset_index(drop=True, inplace=True)
    
    return df 


def add_buildyear(df1, df2,df3):
    # Create a new column in df2 called 'buildyear' with default value of None
    df1['buildyear'] = np.nan
    df2['home_number'] = df2['home_number'].astype(int)
    # Iterate through each row in df2
    for index, row in df1.iterrows():
        # Get the home_number and street values for the current row
        home_number = row['home_number']
        street = row['street']
        # Find the rows in df1 that match the home_number and street values
        matches = df2[(df2['home_number'] == home_number) & (df2['street'] == street)]
        matches2 = df3[(df3['home_number'] == home_number) & (df3['street'] == street)]
        # If there are any matches
        if not matches.empty:
            # Get the maximum value of the BUILDINGYEAR column from the matches
            max_buildyear = matches['BUILDINGYEAR'].max()
            # Assign the value to the 'buildyear' column in df2
            df1.at[index, 'buildyear'] = max_buildyear
            
        if not matches2.empty:
            max_buildyear = matches2['BUILDINGYEAR'].max()
            # Assign the value to the 'buildyear' column in df2
            df1.at[index, 'buildyear'] = max_buildyear
            
        if matches2.empty and matches2.empty:
            try:
                street_avg = df3[df3['street'] == street]
                avg_year = street_avg['BUILDINGYEAR'].mean()
                df1.at[index, 'buildyear'] = int(avg_year)
            except:
                try:
                    street_avg = df2[df2['street'] == street]
                    avg_year = street_avg['BUILDINGYEAR'].mean()
                    df1.at[index, 'buildyear'] = int(avg_year)
                except:
                    # the is a option to add avg build in the neighborhood
                    pass
                
                
    df1.dropna(subset = ['buildyear'] ,inplace=True)
    df1['buildyear'] = df1['buildyear'].astype(int)
    return df1

df2 = split_address_column(df2, 'DISPLAYADRESS') 
df = add_buildyear(df,df2,df3)

In [6]:
def distance_from_point(point):
    north_x = 32.1443077
    north_y = 34.7912077
    south_x = 32.0560583
    south_y = 34.7553082
    
    # Calculate the slope of the line (y2-y1 / x2-x1)
    slope = (north_y - south_y) / (north_x - south_x)
    
    # Calculate the y-intercept of the line
    y_intercept = north_y - (slope * north_x)
    
    # Use point-slope formula to calculate the distance
    distance = abs(slope * point[0] - point[1] + y_intercept) / math.sqrt(slope**2 + 1)
    
    # Return the distance in meters
    return distance * 111120

def Distance_from_sea_TLV(df):
    new_column = []
    for index in range(df.shape[0]):
        x_val = float(df['lat'][index])
        y_val = float(df['long'][index])
        distance = distance_from_point((x_val,y_val))
        new_column.append(distance)
    df["Distance_From_Sea"] = new_column
    df['Distance_From_Sea'] = df['Distance_From_Sea'].astype(int)

    return df

def covert_price(df):
    df['price'] = df['price'].str.replace('[^0-9]','',regex =True) 
    df['price'] = df['price'].astype(int)
    return df

In [7]:
def neighborhood_to_numeric(df):
    df.dropna(subset=['neighborhood'] ,inplace=True)
    df.reset_index(drop=True,inplace =True)
    t = df['neighborhood'].unique()
    df['neighborhood'].replace(t.tolist(),[i for i in range(len(t))], inplace=True)
    return df


def edit_parking(df):
    df['parking'] = df['parking'].str.replace('ללא','0')
    df['parking'] = df['parking'].astype(int)
    return df
    
def drop_non_numeric_cols(df):
#     df.dropna(subset = ['TotalFloors'] ,inplace=True)
#     df['TotalFloors'] = df['TotalFloors'].astype(int)
#     df['home_number'] =df['home_number'].astype(int)
    cols = df.select_dtypes(include=['int64', 'float64','int32']).columns
    cols = cols.drop('home_number_2')
    return df[cols].dropna()
    
def add_date(df):
    # all the deals need to be 2023
    df['year'] = 2023
    df.assign(profit='NAN')
    df['year'].astype(int)
    return df

In [2]:

df = covert_price(df)
df = edit_parking(df)
df = neighborhood_to_numeric(df)
df = Distance_from_sea_TLV(df)
df = add_date(df)
df = drop_non_numeric_cols(df)

In [33]:

def convert_coordinates(lat, lon):
    '''
    This function use to convert UTM coordinates to ITM coordinates using outside website with selenium 
    '''
    driver = webdriver.Chrome()
    driver.get("https://zvikabenhaim.appspot.com/software/ITM/")

    # locate input fields and button
    lat_input = driver.find_element(By.XPATH, '//*[@id="lat"]')
    lat_input.clear()
    lon_input = driver.find_element(By.XPATH, '//*[@id="long"]')
    lon_input.clear()
    convert_button = driver.find_element(By.XPATH, '//form[1]/table/tbody/tr[3]/td/input')
    
    # send lat and long to input fields
    lat_input.send_keys(lat)
    lon_input.send_keys(lon)
    
    convert_button.click()

    east_span = driver.find_element(By.XPATH, '//*[@id="itm_east"]')
    north_span = driver.find_element(By.XPATH, '//*[@id="itm_north"]')

    east = east_span.text
    north = north_span.text

    driver.quit()

    return east, north

In [32]:
def concert_lat_long(df):
    for i, row in df.iterrows():
        lat = row['lat']
        lon = row['long']
        east, north = convert_coordinates(lat, lon)
        print(f'{i}/{df.shape[0]}')
        df.at[i, 'lat'] = east
        df.at[i, 'long'] = north
    return df

df = concert_lat_long(df)

In [31]:
df.to_csv('Real_Estate_TLV_YAD2_Numeric.csv')

In [1]:
# import requests
# from bs4 import BeautifulSoup
# from pandas import json_normalize
# url = 'https://gisn.tel-aviv.gov.il/iview2js4/index.aspx?layers=513'
# url = 'https://gisn.tel-aviv.gov.il/arcgis/rest/services/IView2/MapServer/513/query?where=1%3D1&outFields=*&f=json'
# response = requests.get(url)
# data = response.json()
# df = json_normalize(data['features'])
# df